/* Sidebar */
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  position: relative;
  float: left;
  background-color: #333;
  color: #f0f0f5;
  /* box-shadow: 10px 0 15px rgba(51, 51, 51, 0.5); */
  text-align: center;
  z-index: 1;
}

aside > .info {
  background-image: linear-gradient(transparent, #333),
    url('https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  /* background-image: url("https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}

aside > .info > img {
  border-radius: 50%;
  width: 40%;
}

aside > .info > h2 {
  font-weight: 400;
}

aside > .content {
  padding: 0 1rem 1rem 1rem;
}

aside > .content > .links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 1em 0;
}

aside > .content > .links > li > a {
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0.7rem;
  transition: background-color 0.5s;
  position: relative;
  color: #333;
  transition: color 0.5s, transform 0.5s;
  justify-content: center;
}

aside > .content > .links > li > a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  box-shadow: inset 0 0 0 35px #f0f0f5;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
  -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
  transition: box-shadow 0.3s, transform 0.3s;
}

aside > .content > .links > li > a:hover::before {
  box-shadow: inset 0 0 0 10px #333;
  transform: scale3d(1, 1, 1);
  border: 2px solid #f0f0f5;
}

aside > .content > .links > li > a > .icon {
  font-size: 32px;
  color: #333;
  border-radius: 50%;
}

aside > .content > .links > li > a:hover > .icon {
  color: #f0f0f5;
}

aside > .content > .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside > .content > .contact > p {
  font-size: 1rem;
}

aside > .content > .contact > p > a {
  text-decoration: none;
  color: #f0f0f5;
  font-weight: bold;
}

aside > .content > .skills {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside > .content > .skills > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

aside > .content > .skills > ul > li.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem 0;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
}

aside > .content > .skills > ul > li.skill:hover {
  transform: scale(1.2);
}

aside > .content > .skills > ul > li.skill::before {
  content: '';
  border: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 0.2s;
}

aside > .content > .skills > ul > li.skill:hover::before {
  content: '';
  width: 100%;
  border: 1px solid #f0f0f5;
}

aside > .content > .skills > ul > li.skill > .icon {
  margin-right: 0.3rem;
  font-size: 32px;
}

aside > .content > .skills > ul > li.skill.studiyng > .stars::after,
aside > .content > .skills > ul > li.skill.studiyng > .stars::after,
aside > .content > .skills > ul > li.skill.studiyng > .stars::after {
  content: '*';
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7rem;
}

aside > .content > .skills > ul > li.skill.studiyng > .stars::before,
aside > .content > .skills > ul > li.skill.studiyng > .stars::before,
aside > .content > .skills > ul > li.skill.studiyng > .stars::before {
  content: 'studying';
  position: absolute;
  top: 0;
  right: -45px;
  font-size: 0.7rem;
  opacity: 0;
  transition: opacity 0.2s;
}

aside > .content > .skills > ul > li.skill.javascript:hover > .stars::before,
aside > .content > .skills > ul > li.skill.react:hover > .stars::before,
aside > .content > .skills > ul > li.skill.python:hover > .stars::before {
  opacity: 1;
}

aside > .content > .skills > span {
  width: 100%;
  text-align: end;
  font-size: 0.7rem;
  font-style: italic;
}
