header {
  display: flex;
  justify-content: space-between;
}
header .name h1 {
  margin-top: 0;
}
header .name p {
  font-size: 1.2rem;
  font-weight: 400;
}

header .social-email ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 1em;
}

header .social-email ul li {
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 50%;
  padding: 0.7em;
}

header .social-email .links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  header .social-email .links p{
  font-size: 1.1rem;
}

header .social-email .links p a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
